 {% extends 'base.html.twig' %}


 {% block title %}SymRecipe - Accueil {% endblock %}

 {% block body %}
     <div class="container mt-4">
         <div class="jumbotron">
             <h1 class="display-4">Bienvenue sur SymRecipe</h1>
             <p class="lead">
                 Lorem ipsum dolor sit amet, consectetur adipiscing elit. In malesuada suscipit est. Nulla semper pharetra volutpat.
                 Donec consectetur gravida hendrerit. Aliquam erat volutpat. Cras sed consequat enim. Quisque fermentum lectus sit amet quam
                 tincidunt faucibus. Nam porttitor, dui in pellentesque sollicitudin, risus diam vestibulum lorem, in vestibulum tellus nibh a erat.
                 Nam a ante dapibus urna iaculis mollis rhoncus et felis. Nam dictum, mi id tincidunt lacinia,
                 tellus dolor malesuada lacus, a dapibus augue dui et nulla. Vestibulum convallis euismod nisl non sollicitudin.
             </p>
             <hr class="my-4">
             {% if app.user is same as(null)%}
                 <p>Pour commencer rdv sur la page d'inscription</p>
                 <p class="lead">
                     <a class="btn btn-primary btn-lg" href="{{ path('security.registration') }}" role="button">Inscription</a>
                 </p>
             {% endif %}
         </div>

         <div class="recipes">
             <h2 class="mt-4">Recette de la communauté</h2>
             <div class="d-flex justify-content-between">
                 {% for recipe in recipes %}
                     <div class="card border-primary mb-3" style="max-width: 20rem;">
                         <div class="card-header">Recette n° {{ recipe.id }}</div>
                         <div class="card-body">
                             <h4 class="card-title">
                                 <a href="{{ path('recipe.show', {id: recipe.id}) }}">
                                     {{ recipe.name }}
                                 </a>
                             </h4>
                             <p class="card-text">
                                 {{ recipe.description | slice(0, 100) ~ '...' }}
                             </p>
                         </div>
                     </div>
                 {% endfor %}
             </div>
         </div>
     </div>
 {% endblock %}